@{
    ViewData["Title"] = "Home Page";
}

@{ 
    var check = ViewBag.CheckConnection;
}

    <div class="text-center">
        @{
            if (check)
            {
                <p>База данных доступна</p>
            }
            else
            {
                <p>База данных недоступна</p>
            }
        }
    </div>
